body {
  color: #5a5a5a;
}

.column { padding-right: 20px; }

#ct_cifra {
	height: 970px;
	word-wrap: normal; 
	font-size: 25px;
  font-family: "Lucida Console", Monaco, monospace;
  /*white-space: pre-wrap;*/
}

.tablatura {
	display: none;
}

p {
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}

p.chordline {
  line-height: 2.0;
}

p.info {
  line-height: 1.0;
  margin-bottom: 0.5em;
  font-style: italic;
  color: #468847;
}

.chord {
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-weight: bold;
  color: rgb(58, 135, 173);
  text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;

  position: relative;
  top: -1em;
  display: inline-block;
  width: 0;
  overflow: visible;
}
