body {
  color: #5a5a5a;
}

#ct_cifra {
	-webkit-column-count: auto;
	-webkit-column-width: 600px;
	height: 970px;
	word-wrap: normal; 
  /*word-wrap: break-word;*/

  /*word-break: normal;*/
  -webkit-hyphens: auto;
	font-size: 25px;
	/*font-family: Lucida Console,monospace;*/
  font-family: Book Antiqua;
	/*white-space: pre;*/
}

.tablatura {
	display: none;
}

p {
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}

p.chordline {
  line-height: 2.0;
  /*margin-bottom: 0.5em;*/
	/*margin-top: 0.5em;*/
}

p.info {
  line-height: 1.0;
  margin-bottom: 0.5em;
  font-style: italic;
  color: #468847;
}

.chord {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: rgb(58, 135, 173);
  text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;

  position: relative;
  top: -1em;
  display: inline-block;
  width: 0;
  overflow: visible;
}